/**
* Contains the basis layout for hellofellow
* Sidebars, Navigations and stuff
*/
/**
* Base Settings
*/
/**
* Utility mixins
*/
/**
* Global Animations
*/
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }

  to {
    background-position: 0 0; } }

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }

  to {
    background-position: 0 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }

  to {
    background-position: 0 0; } }

/**
* Creates a small bounce effect
*/
@-webkit-keyframes bounceIn {
  0%, 40%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-ms-keyframes bounceIn {
  0%, 40%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  0%, 40%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

/**
* FadeIn Effect
*/
@-webkit-keyframes fadeIn {
  0%, 100% {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }

  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0%, 100% {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }

  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0%, 100% {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }

  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/**
* Endless spinner, used for loaders
*/
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-ms-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

/**
* used by alert modals
*/
@-webkit-keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0); }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }

@-ms-keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0); }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0); }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }

@-webkit-keyframes tabWobbleLine {
  0% {
    opacity: 0;
    left: calc(50% - (10px));
    width: 0%; }

  100% {
    opacity: 1;
    left: 0;
    width: calc(100% - (20px)); } }

@-ms-keyframes tabWobbleLine {
  0% {
    opacity: 0;
    left: calc(50% - (10px));
    width: 0%; }

  100% {
    opacity: 1;
    left: 0;
    width: calc(100% - (20px)); } }

@keyframes tabWobbleLine {
  0% {
    opacity: 0;
    left: calc(50% - (10px));
    width: 0%; }

  100% {
    opacity: 1;
    left: 0;
    width: calc(100% - (20px)); } }

@-webkit-keyframes tabWobbleLineSmall {
  0% {
    opacity: 0;
    left: calc(50% - (10px));
    width: 0%; }

  100% {
    opacity: 1;
    left: 0;
    width: calc(100% - (10px)); } }

@-ms-keyframes tabWobbleLineSmall {
  0% {
    opacity: 0;
    left: calc(50% - (10px));
    width: 0%; }

  100% {
    opacity: 1;
    left: 0;
    width: calc(100% - (10px)); } }

@keyframes tabWobbleLineSmall {
  0% {
    opacity: 0;
    left: calc(50% - (10px));
    width: 0%; }

  100% {
    opacity: 1;
    left: 0;
    width: calc(100% - (10px)); } }

.loader {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid transparent;
  position: relative;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear; }
  .loader:before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -4px;
    top: -4px;
    border-right: 4px solid #d9d9d9;
    border-top: 4px solid #d9d9d9;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #d9d9d9; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?71914645');
  src: url('fonts/fontello.eot?71914645#iefix') format('embedded-opentype'), url('fonts/fontello.woff?71914645') format('woff'), url('fonts/fontello.ttf?71914645') format('truetype'), url('fonts/fontello.svg?71914645#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71914645#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-up-dir:before {
  content: '\25b4'; }

/* '▴' */
.icon-down-dir:before {
  content: '\25be'; }

/* '▾' */
.icon-star:before {
  content: '\2605'; }

/* '★' */
.icon-star-empty:before {
  content: '\2606'; }

/* '☆' */
.icon-check:before {
  content: '\2611'; }

/* '☑' */
.icon-reorder:before {
  content: '\2630'; }

/* '☰' */
.icon-attention:before {
  content: '\26a0'; }

/* '⚠' */
.icon-pencil:before {
  content: '\270e'; }

/* '✎' */
.icon-ok-circle:before {
  content: '\2714'; }

/* '✔' */
.icon-cancel-circle:before {
  content: '\2716'; }

/* '✖' */
.icon-attention-circle:before {
  content: '\2757'; }

/* '❗' */
.icon-plus-circle:before {
  content: '\2795'; }

/* '➕' */
.icon-minus-circle:before {
  content: '\2796'; }

/* '➖' */
.icon-cancel-circle2:before {
  content: '\e703'; }

/* '' */
.icon-info-circle:before {
  content: '\e705'; }

/* '' */
.icon-comment:before {
  content: '\e718'; }

/* '' */
.icon-chat:before {
  content: '\e720'; }

/* '' */
.icon-location:before {
  content: '\e724'; }

/* '' */
.icon-trash:before {
  content: '\e729'; }

/* '' */
.icon-bold:before {
  content: '\e77a'; }

/* '' */
.icon-italic:before {
  content: '\e77b'; }

/* '' */
.icon-mail:before {
  content: '\e800'; }

/* '' */
.icon-user:before {
  content: '\e801'; }

/* '' */
.icon-th-large:before {
  content: '\e802'; }

/* '' */
.icon-th-list:before {
  content: '\e803'; }

/* '' */
.icon-ok:before, .checkbox input[type="checkbox"]:checked + .checkbox-container::before {
  content: '\e804'; }

/* '' */
.icon-cancel:before {
  content: '\e805'; }

/* '' */
.icon-plus:before {
  content: '\e806'; }

/* '' */
.icon-minus:before {
  content: '\e807'; }

/* '' */
.icon-help:before {
  content: '\e808'; }

/* '' */
.icon-help-circled:before {
  content: '\e809'; }

/* '' */
.icon-info:before {
  content: '\e80a'; }

/* '' */
.icon-home:before {
  content: '\e80b'; }

/* '' */
.icon-link:before {
  content: '\e80c'; }

/* '' */
.icon-unlink:before {
  content: '\e80d'; }

/* '' */
.icon-attach:before {
  content: '\e80e'; }

/* '' */
.icon-pin:before {
  content: '\e80f'; }

/* '' */
.icon-eye:before {
  content: '\e810'; }

/* '' */
.icon-tag:before {
  content: '\e811'; }

/* '' */
.icon-flag:before {
  content: '\e812'; }

/* '' */
.icon-forward:before {
  content: '\e813'; }

/* '' */
.icon-attention-alt:before {
  content: '\e814'; }

/* '' */
.icon-rss:before {
  content: '\e815'; }

/* '' */
.icon-cog:before {
  content: '\e816'; }

/* '' */
.icon-right-dir:before {
  content: '\e817'; }

/* '' */
.icon-left-dir:before {
  content: '\e818'; }

/* '' */
.icon-down-open:before, .select-element:after {
  content: '\e819'; }

/* '' */
.icon-up-open:before {
  content: '\e81a'; }

/* '' */
.icon-right-open:before {
  content: '\e81b'; }

/* '' */
.icon-arrows-cw:before {
  content: '\e81c'; }

/* '' */
.icon-circle:before, .checkbox input[type="radio"]:checked + .checkbox-container::before {
  content: '\e81d'; }

/* '' */
.icon-asterisk:before {
  content: '\e81e'; }

/* '' */
.icon-twitter-squared:before {
  content: '\e81f'; }

/* '' */
.icon-twitter:before {
  content: '\e820'; }

/* '' */
.icon-facebook-squared:before {
  content: '\e821'; }

/* '' */
.icon-facebook:before {
  content: '\e822'; }

/* '' */
.icon-linkedin-squared:before {
  content: '\e823'; }

/* '' */
.icon-linkedin:before {
  content: '\e824'; }

/* '' */
.icon-gplus-squared:before {
  content: '\e825'; }

/* '' */
.icon-gplus:before {
  content: '\e826'; }

/* '' */
.icon-headphones:before {
  content: '\e827'; }

/* '' */
.icon-picture:before {
  content: '\e828'; }

/* '' */
.icon-link-ext-alt:before {
  content: '\e829'; }

/* '' */
.icon-bell:before {
  content: '\e82a'; }

/* '' */
.icon-left-open:before {
  content: '\e82b'; }

/* '' */
.icon-filter:before {
  content: '\e82c'; }

/* '' */
.icon-cog-alt:before {
  content: '\e82d'; }

/* '' */
.icon-reply:before {
  content: '\e82e'; }

/* '' */
.icon-cw:before {
  content: '\e82f'; }

/* '' */
.icon-ccw:before {
  content: '\e830'; }

/* '' */
.icon-spin2:before {
  content: '\e831'; }

/* '' */
.icon-bell-alt:before {
  content: '\e832'; }

/* '' */
.icon-right-circled:before {
  content: '\e833'; }

/* '' */
.icon-left-circled:before {
  content: '\e834'; }

/* '' */
.icon-move:before {
  content: '\e835'; }

/* '' */
.icon-xing:before {
  content: '\e836'; }

/* '' */
.icon-xing-squared:before {
  content: '\e837'; }

/* '' */
.icon-thumbs-up-alt:before {
  content: '\e838'; }

/* '' */
.icon-thumbs-down-alt:before {
  content: '\e839'; }

/* '' */
.icon-resize-full:before {
  content: '\e83a'; }

/* '' */
.icon-ellipsis-vert:before {
  content: '\e83b'; }

/* '' */
.icon-ellipsis:before {
  content: '\e83c'; }

/* '' */
.icon-cancel-1:before {
  content: '\e83d'; }

/* '' */
.icon-lock-open-alt:before {
  content: '\e85a'; }

/* '' */
.icon-link-ext:before {
  content: '\f08e'; }

/* '' */
.icon-check-empty:before {
  content: '\f096'; }

/* '' */
.icon-bookmark-empty:before {
  content: '\f097'; }

/* '' */
.icon-blank:before {
  content: '\f0c8'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-list-bullet:before {
  content: '\f0ca'; }

/* '' */
.icon-mail-alt:before {
  content: '\f0e0'; }

/* '' */
.icon-comment-empty:before {
  content: '\f0e5'; }

/* '' */
.icon-chat-empty:before {
  content: '\f0e6'; }

/* '' */
.icon-quote-right:before {
  content: '\f10e'; }

/* '' */
.icon-globe:before {
  content: '🌮'; }

/* '\1f32e' */
.icon-thumbs-up:before {
  content: '💍'; }

/* '\1f48d' */
.icon-thumbs-down:before {
  content: '💎'; }

/* '\1f48e' */
.icon-volume-off:before {
  content: '🔇'; }

/* '\1f507' */
.icon-volume-up:before {
  content: '🔊'; }

/* '\1f50a' */
.icon-lock:before {
  content: '🔒'; }

/* '\1f512' */
.icon-bookmark:before {
  content: '🔖'; }

/* '\1f516' */
.icon-search:before {
  content: '🕝'; }

/* '\1f55d' */
.icon-block:before {
  content: '🚫'; }

/* '\1f6ab' */
html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: #262626;
  line-height: 1.3; }

body.loading {
  cursor: wait; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

p {
  margin: 0 0 1rem 0; }

.float-right {
  float: right; }

h1, h2, h3, h4, h5 {
  margin: 0 0 1rem 0; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

a {
  text-decoration: none;
  color: #258db8;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
  font-weight: 600; }
  a:hover {
    color: #144c63; }
  a:active {
    color: black; }

code {
  font-family: monospace;
  background: #e6e6e6; }

.badge {
  display: inline-block;
  font-size: 12px;
  background: #e6007e;
  color: #fff;
  line-height: 1.3;
  padding: 0 5px;
  border-radius: 3px;
  font-weight: bold; }

.color-gray {
  color: #999; }

.small-font {
  font-size: 12px; }

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  min-height: calc(100vh - 43px); }
  .wrapper > * {
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; }

.content-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100% - 43px);
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 43px;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 43px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

.page-content {
  padding: 10px; }

.header {
  height: 43px;
  background: #333333;
  font-size: 18px;
  overflow: hidden; }

.topbar {
  padding: 0 10px 0 5px;
  color: #fff;
  line-height: 43px; }

.navigation-toggler:before {
  margin-right: 10px; }
.navigation-toggler span {
  font-size: 14px;
  vertical-align: 1px; }

.footer {
  max-height: 100px;
  min-height: 100px;
  text-align: center; }

.main {
  text-align: left; }

.site.toggled-canvas #AllContentWrapper {
  -webkit-overflow-scrolling: auto; }

.sidebar {
  will-change: transform;
  padding: 20px;
  background: #fafafa;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 250px;
  z-index: 22;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.25s ease;
          transition: transform 0.25s ease;
  top: 0;
  right: 0px; }
  .sidebar.open {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); }

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.darkener {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: opacity 0.4s ease;
          transition: opacity 0.4s ease;
  will-change: opacity;
  opacity: 0;
  background: #000;
  z-index: 21; }
  .darkener.init {
    opacity: 0.15;
    pointer-events: auto; }

@-moz-document url-prefix() {
  .main {
    overflow: hidden; } }

/* Main Navigation Container, Off-Screen Navigation*/
.navbar-main {
  position: absolute;
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
  width: 250px;
  background: #4a4a4a;
  z-index: 22;
  will-change: transform;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.25s ease;
          transition: transform 0.25s ease;
  top: 0; }
  .navbar-main.open {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); }
  .navbar-main a {
    color: #aaa; }
    .navbar-main a:active:not(.logo) {
      background: rgba(0, 0, 0, 0.3) !important; }
    .navbar-main a:hover {
      color: #fff; }
  .navbar-main ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .navbar-main > ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .navbar-main > ul li.active a {
      background: rgba(0, 0, 0, 0.2);
      font-weight: bold;
      color: #fff; }
    .navbar-main > ul li a {
      padding: 10px 20px;
      display: inline-block;
      width: 100%;
      position: relative; }
      .navbar-main > ul li a .badge {
        position: absolute;
        right: 10px;
        margin-top: 2px; }
  .navbar-main .home {
    display: block;
    text-indent: -99999px;
    background: #333333;
    height: 43px; }
    .navbar-main .home .logo {
      background: url(img/logo.svg) no-repeat 0px 3px;
      background-size: 100% 100%;
      height: 43px;
      position: relative;
      width: 130px;
      margin-left: 10px;
      display: block; }

.topbar-action {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px;
  font-weight: bold;
  color: #fff !important; }
  .topbar-action.active, .topbar-action:active {
    background: rgba(0, 0, 0, 0.2); }
  .topbar-action.right {
    margin-left: 15px; }
  .topbar-action .badge {
    vertical-align: 1px; }

.subnav-content {
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px); }
  .subnav-content:after {
    content: ' ';
    background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0) 0%, #f1f1f1 100%);
    background: linear-gradient(to right, rgba(241, 241, 241, 0) 0%, #f1f1f1 100%);
    width: 60px;
    height: 43px;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none; }

/**
* A general overflow container to visual
*/
.overflow-container {
  position: relative;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px); }
  .overflow-container:after {
    content: ' ';
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
    width: 60px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none; }

/**
* Subnavigation and tabs
*/
.subnav, .tabs {
  background: #f1f1f1;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px); }
  .subnav li, .tabs li {
    display: inline-block;
    margin-right: 6px; }
    .subnav li a, .tabs li a {
      padding: 0 10px;
      color: #616161;
      font-weight: normal;
      line-height: 43px;
      display: block; }
      .subnav li a:hover, .tabs li a:hover {
        color: #949494; }
    .subnav li.active a, .tabs li.active a {
      font-weight: bold; }
    .subnav li:last-of-type, .tabs li:last-of-type {
      margin-right: 40px; }

.tabs {
  background: transparent;
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  z-index: 0; }
  .tabs li {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative; }
    .tabs li.loading a {
      cursor: wait; }
    .tabs li.loading:after {
      -webkit-animation-name: tabWobbleLine;
              animation-name: tabWobbleLine;
      -webkit-animation-duration: 0.4s;
              animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
    .tabs li:hover:after, .tabs li.active:after {
      left: 0;
      width: calc(100% - (20px));
      opacity: 1; }
    .tabs li:after {
      will-change: width, left, opacity;
      content: '';
      position: absolute;
      width: 0%;
      background: #258db8;
      opacity: 0;
      height: 2px;
      bottom: 0;
      left: calc(50% - (10px));
      margin: 0 10px;
      -webkit-transition: width 0.2s ease, left 0.2s ease, opacity 0.2s ease;
              transition: width 0.2s ease, left 0.2s ease, opacity 0.2s ease; }
    .tabs li.disabled a {
      color: #cccccc;
      cursor: not-allowed; }
    .tabs li.disabled:after {
      display: none; }
    .tabs li.link:after {
      display: none; }
  .tabs::-webkit-scrollbar {
    display: none; }

.tabs-small li a {
  line-height: inherit !important;
  padding-bottom: 5px !important;
  padding-left: 0 !important; }
.tabs-small li:hover:after, .tabs-small li.active:after {
  width: calc(100% - (10px)); }
.tabs-small li:after {
  left: calc(50% - 10px);
  margin: 0 10px 0 0;
  height: 1px; }
.tabs-small li.loading:after {
  -webkit-animation-name: tabWobbleLineSmall;
          animation-name: tabWobbleLineSmall;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

.toggle-content {
  padding: 10px;
  display: none; }
  .toggle-content.active {
    display: block; }

.toggle-content-small {
  padding-left: 0; }

@media all and (min-width: 768px) {
  body {
    overflow-y: scroll; }
    body.modal-open {
      overflow-y: hidden;
      padding-right: 15px; }

  .aside {
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto; }

  .sidebar {
    position: static;
    max-width: 225px; }

  .main {
    -webkit-flex: 2 0px;
        -ms-flex: 2 0px;
            flex: 2 0px; }

  .sidebar {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

  .main {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

  .content-wrapper {
    overflow: visible;
    padding: 0;
    position: static; }

  .subnav-content {
    margin: 20px 20px; }

  .page-content {
    padding: 10px 20px; }

  .subnav {
    padding-left: 7px;
    background: #f1f1f1; }

  .sidebar {
    position: static;
    height: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: none;
            transition: none;
    z-index: 0; }

  .topbar {
    display: none; }

  .navbar-main {
    padding: 0 11px;
    position: relative;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 0 auto;
    max-width: 1250px;
    z-index: 1;
    width: 100%;
    background: transparent; }
    .navbar-main > ul {
      position: absolute;
      top: 0;
      left: 235px;
      width: calc(100% - 235px);
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .navbar-main > ul li {
        margin-right: 10px; }
        .navbar-main > ul li a:active:not(.logo), .navbar-main > ul li.active a {
          background: none !important; }
        .navbar-main > ul li.home + li {
          margin-left: 153px; }
        .navbar-main > ul li a {
          line-height: 43px;
          padding: 0 10px; }
          .navbar-main > ul li a .badge {
            position: static; }

  .subnav li a, .tabs li a {
    padding: 0px 10px; }
 }

@media all and (min-width: 900px) {
  .sidebar {
    max-width: 273px; }

  .navbar-main > ul {
    left: 283px;
    width: calc(100% - 283px); }
 }

/**
* Forms
*/
.control-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .control-group p {
    margin-bottom: 3px;
    font-size: 12px; }
  .control-group .controls {
    margin-bottom: 20px; }
    .control-group .controls p {
      margin: 3px 0 0 0;
      font-size: 12px;
      color: #999; }
      .control-group .controls p a {
        color: #999;
        font-weight: normal;
        cursor: pointer; }
        .control-group .controls p a:hover {
          color: #b3b3b3; }
        .control-group .controls p a:active {
          color: gray; }
  .control-group:last-of-type .controls {
    margin-bottom: 0; }

legend {
  font-weight: bold;
  margin-bottom: 2rem; }

label:not(.checkbox) {
  font-size: 12px;
  color: #999;
  margin-bottom: 3px;
  display: block; }

fieldset {
  border: none;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 22px; }
  fieldset:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0; }

.input-xlarge, select, textarea, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
  background-color: #f1f1f1;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  color: #262626;
  display: block;
  padding: 8px 10px;
  width: 100%;
  max-width: 100%;
  will-change: background-color;
  text-overflow: ellipsis;
  /**
  * Placeholder
  */ }
  .input-xlarge:focus, select:focus, textarea:focus, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):focus {
    background-color: #e4e4e4;
    outline: none;
    -webkit-transition: background 0.5s ease;
            transition: background 0.5s ease; }
  .input-xlarge.uneditable-input, select.uneditable-input, textarea.uneditable-input, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]).uneditable-input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .input-xlarge.uneditable-input, .input-xlarge.disabled, select.uneditable-input, select.disabled, textarea.uneditable-input, textarea.disabled, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]).uneditable-input, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]).disabled {
    background: #fafafa;
    color: #bababa;
    cursor: not-allowed;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .input-xlarge::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"])::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #b3b3b3;
    font-style: normal;
    font-weight: normal; }
  .input-xlarge:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b3b3b3;
    font-style: normal;
    opacity: 1;
    font-weight: normal; }
  .input-xlarge::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"])::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #b3b3b3;
    font-style: normal;
    opacity: 1;
    font-weight: normal; }
  .input-xlarge:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder, input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #b3b3b3;
    font-style: normal;
    font-weight: normal; }

/* Styled Checkbox and Radio Button: */
.multi-select-field {
  margin-bottom: 10px;
  margin-top: 2px; }
  .multi-select-field .checkbox {
    display: block;
    margin-bottom: 5px; }

.checkbox {
  padding: 1px 0 0 25px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }
  .checkbox input {
    visibility: hidden;
    position: absolute;
    left: 0; }
  .checkbox .checkbox-container {
    line-height: 1.3;
    display: inline-block; }
    .checkbox .checkbox-container > span {
      color: #258db8; }
  .checkbox .checkbox-container::before {
    content: ' ';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    border-radius: 3px;
    font-size: 12px;
    line-height: 18px;
    top: 1px;
    background: #f1f1f1;
    text-align: center;
    color: #258db8 !important;
    font-family: fontello;
    font-weight: normal !important;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block; }
    .checkbox .checkbox-container::before:before {
      text-decoration: inherit;
      display: inline-block;
      speak: none; }
    .checkbox .checkbox-container::before span {
      font-family: 'Open Sans', Arial, sans-serif; }
  .checkbox:active .checkbox-container::before {
    background: #e4e4e4; }
  .checkbox input[type="radio"]:checked + .checkbox-container::before {
    font-size: 10px; }
  .checkbox input[disabled] + .checkbox-container {
    cursor: not-allowed; }
  .checkbox input[disabled] + .checkbox-container::before {
    background: #fafafa;
    color: #bababa !important;
    cursor: not-allowed; }

/* Arrows for Select's*/
select {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer; }

textarea {
  min-height: 12rem; }

.select-element:after {
  font-family: fontello;
  font-weight: normal !important;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 70%;
  line-height: 35px;
  padding: 0 11px 0 11px;
  background: #f1f1f1;
  color: #a6a6a6;
  height: 100%;
  pointer-events: none;
  border-radius: 0 3px 3px 0;
  will-change: background;
  -webkit-transition: background 0.5s ease;
          transition: background 0.5s ease; }
  .select-element:after:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none; }
  .select-element:after span {
    font-family: 'Open Sans', Arial, sans-serif; }
  .select-element:after:focus, .select-element:after:active {
    background: #e4e4e4; }

.select-element {
  cursor: pointer;
  position: relative; }
  .select-element:hover:after {
    background: #e4e4e4; }

.list-form {
  width: 100%; }

.multi-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .multi-form > div {
    margin-left: 10px;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .multi-form > div:first-of-type {
      margin-left: 0; }
  .multi-form.break {
    display: block;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .multi-form.break > div {
      margin-left: 0px; }
      .multi-form.break > div:not(:last-of-type) {
        margin-bottom: 10px; }

.select-day {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 75px; }

.select-month {
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.select-year {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  max-width: 100px; }

.form-actions {
  text-align: left;
  margin-top: 2rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .form-actions > div {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .form-actions .right {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }

.toolbar-form {
  padding: 0 4px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 43px;
  position: absolute;
  top: 0;
  min-width: 200px; }
  .toolbar-form input {
    padding-left: 2px !important;
    background: transparent !important; }

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: #83ba5e;
  padding: 11px 45px 10px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  background-image: none;
  -webkit-transition: background-color 0.2s ease, background-image 2s ease;
          transition: background-color 0.2s ease, background-image 2s ease;
  background-size: 40px 40px;
  will-change: background, background-image;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .button:hover {
    color: #fff;
    background-color: #9ec982; }
    .button:hover.loading {
      background-color: #83ba5e; }
  .button:active, .button:focus {
    color: #fff;
    outline: none; }
  .button:active {
    -webkit-transition: none;
            transition: none;
    background-color: #6aa045; }
  .button.disabled, .button [disabled] {
    background-color: #c8e0b7;
    cursor: not-allowed; }
  .button.block {
    text-align: center;
    display: block; }
  .button.action {
    padding-right: 11px;
    padding-left: 11px;
    text-align: center; }
  .button.small {
    font-size: 12px;
    padding: 7px 30px 7px; }
    .button.small.action {
      padding-left: 7px;
      padding-right: 7px; }
  .button.secondary {
    background-color: #c3c3c3; }
    .button.secondary:hover {
      background-color: #dddddd; }
      .button.secondary:hover.loading {
        background-color: #c3c3c3; }
    .button.secondary:active {
      background-color: #aaaaaa; }
    .button.secondary.disabled, .button.secondary [disabled] {
      background-color: #e9e9e9; }
  .button.danger {
    background-color: #f08201; }
    .button.danger:hover {
      background-color: #fe9b26; }
      .button.danger:hover.loading {
        background-color: #f08201; }
    .button.danger:active {
      background-color: #d77401; }
    .button.danger.disabled, .button.danger [disabled] {
      background-color: #ffd5a5; }
  .button.loading {
    position: relative;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
            animation: progress-bar-stripes 2s linear infinite;
    cursor: wait;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px; }

@media all and (min-width: 768px) {
  form:not(.wide) .control-group {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  form:not(.wide) label:not(.checkbox) {
    min-width: 150px;
    width: 30%;
    text-align: right;
    padding: 5px 10px 0 0;
    position: relative;
    top: 5px;
    margin-bottom: 0; }
  form:not(.wide) .no-label {
    margin-left: 30%; }
  form:not(.wide) legend {
    margin-left: 30%; }
  form:not(.wide) .multi-select-field {
    margin-top: 7px; }
  form:not(.wide) .controls {
    width: 50%;
    min-width: 320px; }
  form:not(.wide) fieldset {
    padding: 0 0 30px 0;
    margin-bottom: 30px; }
  form:not(.wide) .form-actions {
    border-top: 1px solid #f1f1f1;
    padding-top: 20px; }

  .multi-form.break {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .multi-form.break > div:not(:first-of-type) {
      margin-left: 20px; }
    .multi-form.break > div:not(:last-of-type) {
      margin-bottom: 0px; }
 }

.dropdown {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  will-change: opacity, transform;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease;
          transition: transform 0.25s ease, opacity 0.25s ease;
  z-index: 30;
  background: #fff;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0); }
  .dropdown.open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    max-height: 300px;
    overflow-y: auto; }
    .dropdown ul a {
      padding: 15px 15px;
      display: block;
      border-bottom: 1px solid #cccccc;
      font-weight: normal;
      color: #262626; }
      .dropdown ul a:hover {
        background: #f2f2f2; }
      .dropdown ul a:active {
        background: #d9d9d9; }
      .dropdown ul a i {
        color: #262626; }
    .dropdown ul li:last-of-type a {
      border-bottom: none;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
    .dropdown ul li:first-of-type a {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }

#TooltipContainer {
  z-index: 31;
  pointer-events: none;
  display: inline-block;
  opacity: 0;
  position: absolute;
  color: #fff;
  border-radius: 5px;
  padding: 7px 10px 7px;
  will-change: transform, opacity;
  -webkit-transition: opacity 0.4s ease;
          transition: opacity 0.4s ease;
  font-size: 12px;
  font-weight: bold;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
  background: #333333;
  word-break: break-all;
  max-width: 250px;
  text-align: center; }
  #TooltipContainer.open {
    opacity: 1; }
  #TooltipContainer.arrow-bottom:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  #TooltipContainer.arrow-bottom:after {
    border-color: transparent;
    border-top-color: #333333;
    border-width: 5px;
    left: 50%;
    margin-left: -5px; }
  #TooltipContainer.arrow-top {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0); }
    #TooltipContainer.arrow-top:after, #TooltipContainer.arrow-top:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    #TooltipContainer.arrow-top:after {
      border-color: rgba(51, 51, 51, 0);
      border-bottom-color: #333333;
      border-width: 5px;
      margin-left: -5px; }

@media all and (min-width: 768px) {
  .dropdown {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: auto;
    bottom: auto;
    width: auto;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    max-width: 320px;
    -webkit-transition: none;
            transition: none; }
    .dropdown:not(.open) {
      top: auto !important;
      left: auto !important;
      bottom: auto !important; }
    .dropdown ul a {
      padding: 12px 15px; }
 }

img {
  max-width: 100%; }

/*
* A Modal Component
*
*/
/* Container that contains all Modals of an instance */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 20;
  display: none;
  -webkit-overflow-scrolling: touch;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  overflow-y: scroll; }
  .modal-container.open {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .modal-container > .loader-container {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    position: fixed;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    z-index: 101; }
  .modal-container.loading {
    cursor: wait; }

.modal {
  width: 100%;
  position: relative;
  background: #fff;
  display: none;
  padding: 25px 12px 35px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  will-change: transform, opacity;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7); }
  .modal.current {
    display: block;
    z-index: 10;
    -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: once;
            animation-iteration-count: once;
    -webkit-animation-direction: normal;
            animation-direction: normal; }
  .modal.current ~ .loader-container {
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7); }

.modal-close {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 12px 10px;
  font-size: 16px;
  cursor: pointer;
  color: #a6a6a6; }
  .modal-close:hover {
    color: #8c8c8c;
    background: #f2f2f2; }
  .modal-close:active {
    color: #404040;
    background: #e6e6e6; }

.modal-title {
  margin: 0 0 1rem 0;
  color: #258db8; }

.alert {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: none; }
  .alert.current {
    -webkit-animation-name: fromBottom;
            animation-name: fromBottom;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: once;
            animation-iteration-count: once;
    -webkit-animation-direction: normal;
            animation-direction: normal; }

@media all and (min-width: 768px) {
  .modal-container {
    padding: 20px 20px 0 20px;
    top: 0; }

  .modal {
    width: auto;
    min-width: 640px;
    max-width: 640px;
    margin-bottom: 20px;
    padding: 25px 30px 35px; }
    .modal.center {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }

  .alert {
    min-width: 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    position: relative;
    width: 320px; }
    .alert.current {
      -webkit-animation-name: bounceIn;
              animation-name: bounceIn;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-iteration-count: once;
              animation-iteration-count: once;
      -webkit-animation-direction: normal;
              animation-direction: normal; }
 }

.showcase {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 1rem;
  border-bottom: 2px solid #cccccc; }
  .showcase .centered {
    margin: 2rem auto; }
  .showcase .alert {
    position: relative; }

hr {
  border: 0;
  border-bottom: 1px solid #f1f1f1;
  margin: 2rem 0; }
/*# sourceMappingURL=layout.css.map */