---
layout: default
title: FlexCss - hellofellow pattern library
---

<h1>Demo-Page</h1>
<p>This is FlexCss, a pattern library built for <a href="https://hellofellow.com">hellofellow.com</a></p>
<a class="button" href="https://github.com/BowlingX/flexcss"><i class="icon-github-circled"></i> <span class="hide-small">Fork me on GitHub</span></a>
<a href="https://twitter.com/bowlingx" class="button color-twitter"><i class="icon-twitter"></i> <span class="hide-small">@bowlingx</span></a>
<br><br>
{% include text.html %}
<hr>
{% include slider.html %}
<hr>
{% include buttons.html %}
<hr>
{% include forms.html %}
<hr>
{% include modals.html %}
<hr>
{% include tabs.html %}
<hr>
{% include dropdowns.html %}
<hr>
