
.showcase {
  .centered {
    margin:2rem auto;
  }

  // fix position for alerts in a showcase box
  .alert {
    position: relative;
  }
  margin-bottom:1rem;
}

hr {
  border:0;
  border-bottom:1px solid $lightGrayColor;
  margin:2rem 0;
}
