<h2>Buttons</h2>

<p>
    <span class="button" data-tooltip title="Tooltip on a block element">A Primary Button</span>
    Action Button: <span class="button action"><i
        class="icon-ellipsis-vert"></i></span>

    or <span data-tooltip title="A Tooltip that is visible on a block element. Long tooltips must break."
             class="button disabled">disabled</span>
</p>

<h4>block buttons</h4>

<p>
    <span class="button block">block Button</span>
    <br>
    <span class="button block"><i class="icon-arrows-cw"></i> a block button with icon</span>
</p>

<h4>small buttons</h4>

<p>
    <span class="button small">small</span>
    <span class="button small loading">small (loading state)</span>
</p>

<h4>Alternative colors</h4>

<p>
    <span class="button secondary">secondary</span>
    <span class="button danger">danger</span>
</p>
<hr>
<h3>Example</h3>
{% highlight html %}
<!-- Buttons may have different sizes (normal and small) -->
<button class="button"></button>
<button class="button small"></button>

<!-- Buttons may have different states -->
<button class="button loading"></button>

<!-- Buttons may have different functions/colors -->
<button class="button danger"></button>
<button class="button secondary"></button>

{% endhighlight %}
