<h3>Sub-Navigation</h3>
<ul id="Subnav" class="subnav">
    <li><a href="#">Search</a></li>
    <li class="active"><a href="#">Friends</a></li>
    <li><a href="#">Requests</a></li>
    <li><a href="#">Blocklist <span class="badge">20</span></a></li>
    <li class="form">
        <div class="controls">
            <div class="wrapped-input small-wrapped-input">
                <span class="add-on"><i class="icon-search"></i></span>

                <input type="text" class="small-input ui-autocomplete-input"
                       placeholder="search for something" autocomplete="off">
            </div>
        </div>
    </li>
</ul>
