<h2>Tabs and Navigation</h2>

<p>Tabs allow content to be separated under different topics.</p>

<div class="overflow-container">
    <ul class="tabs" data-toggle-list>
        <li class="active"><a data-toggle="tab-content-about" href="">About me</a></li>
        <li><a data-toggle="tab-content-friends" href="#">Friends</a></li>
        <li class="disabled"><a href="">Community-Posts (disabled)</a></li>
        <li><a id="toggle-photo" data-toggle href="">Photos (Async) <span class="badge">20</span></a></li>
        <li class="link"><a data-dropdown="menu-dropdown" href="#"><i class="icon-ellipsis"></i></a>
        </li>
    </ul>
</div>
<div id="menu-dropdown" class="dropdown">
    <ul>
        <li><a data-close-dropdown href="#">Dropdown-Item 1</a></li>
        <li><a data-close-dropdown href="#">Dropdown-Item 2</a></li>
        <li><a data-close-dropdown href="#">Dropdown-Item 3</a></li>
    </ul>
</div>
<div class="toggle-content" id="async-tab"><p>An Asnc Tab</p></div>

<div id="tab-content-friends" class="toggle-content">
    <p>Whats happening here with my friends?</p>
</div>

<div id="tab-content-about" class="toggle-content active">
    <p>About myself</p>
</div>
