<h2>h2. heading</h2>
<h3>h3. heading</h3>
<h4>h4. heading</h4>
<h5>h5. heading</h5>
<h6>h6. heading</h6>

<h2>Copy text</h2>

<p>Pellentesque <a data-tooltip title="A Tooltip" href="">habitant morbi
    tristique
    senectus</a> et
    netus et malesuada fames ac turpis egestas.
    Vestibulum
    tortor quam,
    <a data-tooltip
       title="http://www.iamareallylongwebaddressthatmayneverbreakandsoon.de">feugiat
    </a>
    vitae, <a data-tooltip title="test">ultricies eget</a>, tempor sit amet, ante. Donec eu libero
    sit amet quam egestas
    semper. Aenean <strong>ultricies</strong> mi vitae est. Mauris placerat eleifend leo.</p>

<h2>Badges</h2>

<p><span class="badge">A simple Badge</span> or just a number <span class="badge">10</span></p>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. Vestibulum
    tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
    egestas
    semper. Aenean ultricies mi <span class="badge">vitae est</span>. Mauris placerat eleifend leo.
</p>

<ul>
    <li>A list with <span class="badge">Badge</span> <span class="badge">5</span> <span
            class="badge">20</span>
    </li>
    <li>Another Item</li>
</ul>

{% highlight html %}
<span class="badge">5</span>
{% endhighlight %}

<h2>Breadcrumbs</h2>

<div>
    <ul class="breadcrumb">
        <li><a href="#">World</a></li>
        <li><a href="#">Asia</a></li>
        <li><a href="#">Thailand</a></li>
        <li><a href="#">Introduce yourself</a></li>
    </ul>
</div>
<div>
    <ul class="breadcrumb">
        <li><a href="#">Root</a></li>
        <li><a href="#">Child 1</a></li>
        <li><a href="#">Child 2</a></li>
        <li><a href="#">This is a very long child that may break later or gets cut of</a></li>
    </ul>
</div>

{% highlight html %}
<ul class="breadcrumb">
    <li><a href="#">Root</a></li>
    <li><a href="#">Child 1</a></li>
</ul>
{% endhighlight %}

<h2>Pagination</h2>

<div>
    <ul class="paginator">
        <li class="arrow item"><a><i class="icon-left-open"></i></a></li>

        <li class="item"><a href="#">1</a>
        </li>
        <li class="current item"><a href="#">2</a>
        </li>
        <li class="item"><a href="#">3</a>
        </li>
        <li class="arrow item"><a><i class="icon-right-open"></i></a></li>
    </ul>
</div>

<div>
    <ul class="paginator">
        <li class="arrow item"><a><i class="icon-left-open"></i></a></li>
        <li class="item"><a href="#">1</a>
        </li>
        <li class="item fade-out">...
        </li>
        <li class="item"><a href="#">8</a>
        </li>
        <li class="item"><a href="#">9</a>
        </li>
        <li class="current item"><a href="#">10</a>
        </li>
        <li class="item"><a href="#">11</a>
        </li>
        <li class="item"><a href="#">12</a>
        </li>
        <li class="item fade-out">...</li>
        <li class="item"><a href="#">25</a>
        </li>
        <li class="arrow item"><a><i class="icon-right-open"></i></a></li>
    </ul>
</div>

{% highlight html %}
<ul class="paginator">
    <li class="arrow item">
        <a><i class="icon-left-open"></i></a>
    </li>
    <li class="current item">
        <a href="#">2</a>
    </li>
    <li class="item">
        <a href="#">3</a>
    </li>
    <li class="arrow item">
        <a><i class="icon-right-open"></i></a>
    </li>
</ul>
{% endhighlight %}