$bodyBackground:#F5E7C3;

$overallMaxWidth: 920px;
$sidebarBackground: darken($bodyBackground, 10%);
$topbarHeight:80px;
$topbarBg:rgba(#051a2b,.5);

@import '../assets/layout';
@import 'landingpage/layout';


