<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FlexCss – {{page.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/build/css/doc.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,400' rel='stylesheet'
          type='text/css'>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
</head>
<body id="SiteBody">
<header class="header" id="Header">
    <div class="topbar" id="TopBar">
        <a data-offcanvas="MainNavigation" class="icon-menu topbar-action navigation-toggler"><span
                id="TitleText">FlexCss</span></a>
        <a href="https://github.com/BowlingX/flexcss" class="right topbar-action"><i class="icon-github-circled"></i> fork</a>
        <a data-offcanvas="markdown-toc" class="right icon-th-list topbar-action"></a>
    </div>
    <nav class="navbar-main" id="MainNavigation" role="navigation">
        <div class="home">
            <a class="logo" data-close-offcanvas href="/">hellofellow.com</a>
        </div>
        {% assign pages = site.pages | sort:"weight" %}
        {% assign url = page.url %}

        <ul class="main-nav">
            {% for p in pages %}
            <li {% if p.url == url %}class="active" {% endif %}>
                <a href="{{ site.baseurl }}{{ p.url }}">
                    {{ p.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul>
            <li class="flex-align-center hide-small">
                    <a href="https://github.com/BowlingX/flexcss" class="button mini alternative"><i
                            class="icon-github-circled"></i>
                    </a>
            </li>
            <li class="flex-align-center hide-small">
                <button class="button mini outline action" data-offcanvas="markdown-toc"><i class="icon-menu"></i> TOC</button>
            </li>
        </ul>
    </nav>
    <div class="darkener" id="Darkener"></div>
    <div class="darkener" id="TocDarkener"></div>
</header>
<div class="content-wrapper" id="AllContentWrapper">
    <div class="wrapper wrapper-center" id="main" role="document">
        <aside id="Sidebar" class="aside sidebar">
            <div class="aside-content">
                <p class="small-font">FlexCss is a lightweight Flexbox based mobile-first CSS/Javascript pattern-library
                    created by David
                    Heidrich, build for <a href="https://hellofellow.com">hellofellow.com</a>.</p>
                <p>
                <h3>Build-Status</h3>
                <a href="https://circleci.com/gh/BowlingX/flexcss">
                    <img src="https://circleci.com/gh/BowlingX/flexcss.svg?style=svg">
                </a>
            </div>
        </aside>
        <div id="MainContent" class="main">
            <div>
                <section class="page-content" id="UpperContent" role="main">
                    {{ content }}
                    {% include disqus.md %}
                </section>
            </div>
            <footer class="footer" id="Footer">
                <p>Made with ♥ by David Heidrich, content and code licensed under the <a
                        href="https://github.com/BowlingX/flexcss/blob/master/LICENSE">MIT License</a><br>
                <span class="small-font">hellofellow and the hellofellow logo Copyright © 2013 – 2015 hellofellow KG<br><a
                        data-modal="impressum">Impressum</a></span>
                </p>
            </footer>
        </div>
    </div>
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60479403-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="//cdn.polyfill.io/v1/polyfill.min.js" async defer></script>
<script type="application/javascript" src="{{ site.baseurl }}/build/js/flexcss.min.js"></script>
<script type="application/javascript">
    void function (document) {
        document.addEventListener('DOMContentLoaded', function () {
            // init all forms on this page
            var FlexCss = FlexCss.default;
            FlexCss.Form.init('form', {scrollToElementDiff:50});
            // setup scrollbar nodes to be updated
            FlexCss.Settings.setup({scrollbarUpdateNodes: [document.body, document.getElementById('Header')]});

            // init tooltips
            new FlexCss.Tooltip(document.body).registerEvents();

            // init modals
            new FlexCss.Modal(document.body).registerEvents();

            // Create of canvas navigation
            new FlexCss.OffCanvas('MainNavigation', 'Darkener', -1).registerEvents();
            new FlexCss.OffCanvas('Sidebar', 'Darkener', 1).registerEvents();
            if(document.getElementById('markdown-toc')) {
                new FlexCss.OffCanvas('markdown-toc', 'TocDarkener', 1).registerEvents();
            }

            // init toggleable
            new FlexCss.Toggleable('SiteBody').registerEvents();

            FlexCss.Showcase.init('[data-showcase]');

            new FlexCss.LightBox(document.body, 'data-thumb', document.body).registerEvents();
        });
    }(document);
</script>
<div class="modal" id="impressum">
    <i data-close-modal class="modal-close icon-cancel-1"></i>

    <h3>Impressum</h3>

    <p>Angaben gemäß § 5 TMG</p>

    <p>David Heidrich <br>
        Nixenstrasse 47<br>
        40591 Duesseldorf <br>
    </p>

    <p><strong>Vertreten durch: </strong><br>
        David Heidrich<br>
    </p>

    <p><strong>Kontakt:</strong> <br>
        Telefon: +49-151-27527147<br>
        E-Mail: me@bowlingx.com</p>

    <p>

    <h3>Haftungsausschluss</h3><strong>Haftung für Inhalte</strong><br><br>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
    Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
    Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis
    10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde
    Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
    bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
    konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
    Inhalte umgehend entfernen.<br><br><strong>Haftung für Links</strong><br><br>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
    Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
    Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
    wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
    Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
    jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
    Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br><br><strong>Google
    Analytics</strong><br><br>
    Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (''Google''). Google
    Analytics verwendet sog. ''Cookies'', Textdateien, die auf Ihrem Computer gespeichert werden und die eine
    Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über
    Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA
    übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website
    auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um
    weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird
    Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder
    soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit
    anderen Daten der Google in Verbindung bringen. Sie können die Installation der Cookies durch eine
    entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in
    diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch
    die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google
    in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.<br>
    Impressum erstellt mit dem <a href="http://www.impressum-generator.de">Impressum Generator</a> der Kanzlei
    Hasselbach, <a href="http://www.kanzlei-hasselbach.de/rechtsanwalt-sorgerecht-koeln/">Kanzlei für Sorgerecht in
    Köln</a>

</div>
</body>
</html>