
body {
  background: $bodyBackground;
}

.home .logo {
  background: url(../img/landingpage/roxyvelezlogo.svg) no-repeat center;
  background-size:100%;
  width:100px;
}

.hero {
  background: url(../img/landingpage/roxymain.jpg) no-repeat center;
  background-size: cover;
  width:100%;
  min-height:100vh;
}

@media #{$mediaDesktop} {

  .fixed-header {
    position: fixed;
    width: 100%;
  }

  .dropdown {
    min-width:200px;
  }

  .navbar-main {
    li {
      position: relative;
      &:hover, &.active {
        &:after {
          left: 0;
          width: calc(100% - (#{$overallPadding*2}));
          opacity: 1;
        }
      }

      &:after {
        will-change: width, left, opacity;
        content: '';
        position: absolute;
        width: 0%;
        background: #b32f38;
        opacity: 0;
        height: 3px;
        bottom: 0;
        left: calc(50% - (#{$overallPadding}));
        margin: 0 $overallPadding;
        transition: width .2s ease, left .2s ease, opacity .2s ease;
      }
    }
  }
}